<header class="">
    <div class="header_in">
    <nav>
        <div class="current"></div>
        <ul>
            <li><a href="#top">top</a></li>
            <li><a href="#skills">skills</a></li>
            <li><a href="#price">price</a></li>
            <li><a href="#contact">contact</a></li>
        </ul>
        <div class="sp_menu"><i class="fas fa-bars"></i><i class="fas fa-times"></i></div>
    </nav>
        
    <ul class="contactsLst">
        <li>
            <a href="<%= github %>" target="_blank"><i class="fab fa-github"></i></a>
        </li>
        <li>
            <a href="<%= tumblr_ask %>" target="_blank"><i class="fab fa-tumblr-square pc"></i><i class="fab fa-tumblr sp"></i></a>
        </li>
        <li><a href="mailto:<%= email %>" target="_blank" onclick="ga('send', 'event', 'click', 'mail');"><i class="fas fa-envelope"></i></a></li>
        <li class="sp_contact"><i class="fas fa-at"></i></li>
    </ul>
    </div>
</header>