<% 
    var root;
    var thisPage;
    var title;
%>
<!DOCTYPE html>
<html lang="ja">
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-158818703-1"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-158818703-1');
        </script>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>げそ</title>
        <meta name="description" content="げそです。Web制作・同人サイト制作など請け負っております。">
        <meta name="keywords" content="Web, ポートフォリオ, Web制作 ,同人サイト制作 ,イラスト制作">
        <meta http-equiv="Content-Script-Type" content="text/javascript">
        <meta http-equiv="Content-Style-Type" content="text/css">
        <link rel="stylesheet" href="<%= root %>css/reset.css">
        <link href="https://fonts.googleapis.com/css?family=Bellefair|Cedarville+Cursive&display=swap" rel="stylesheet">
        <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.0.10/font-awesome-animation.css" type="text/css" media="all" />
        <link rel="stylesheet" href="<%= root %>css/style.css">
    </head>
    <body class="">
    <div class="wrap">